# Thesis respository
Authorea_Thesis
SA_CCR_Allocation_LaTeX

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# IDEs
.idea
.vscode

Exploring Quantlib/Caps and floors.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/a_glitch_in_forward_curves.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/bond_with_credit_spread.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/building_irregular_bonds.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/callable_bonds.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/capfloor_valuations.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/commodity_futures_options.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/cookbook_code_conventions.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/dangerous_day_counters.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/defining_rho_for_the_black_process.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/discount_margin_calculation.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/duration_of_floating_rate_bonds.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/eonia_curve_bootstrapping.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/euribor_curve_bootstrapping.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/heston_calibration_scipy_many.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/heston_model_calibration_smile.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/hull_white_monte_carlo_convergence.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/hull_white_simulations.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/implied_term_structures.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/instruments_and_pricing_engines.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/interest_rate_model_calibration.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/interest_rate_sensitivities_via_zero_spread.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/irswapexample.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/market_quotes.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/mischievous_pricing_conventions.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/modeling-bonds.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/more_mischievous_conventions.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/numerical_greeks_calculation.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/option_pricing.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/par_vs_indexed_coupons.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/pricing_over_a_range_of_days.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/quantlib_basics.ipynb
.vscode/settings.json
SA-CCR_examplary_calculation.html
Exploring Quantlib/quantlibpythoncookbook_extras/random_numbers.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/term_structure_construction.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/term_structures.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/understanding_heston_model.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/understanding_treasury_futures.ipynb
Exploring Quantlib/quantlibpythoncookbook_extras/using_curves_with_different_day_count_conventions.ipynb
LaTeX/@@out=Thesis_AHoecherl.sta
LaTeX/Thesis_AHoecherl.sta